.env
*.env
/config/anovaigrup.php
/public/__apps/emailing_lasirena/_app/_controllers/send_queue.cntrl.php
/public/__apps/emailing_lasirena/_app/_controllers/send_queue.php
/public/__apps/emailing_lasirena/_app/_controllers/send_queue.php.bak
public/__apps/emailing_lasirena/_app/_conf/general_conf.inc.php
/public/__apps/emailing_lasirena
README.md
/public/__apps/emailing_lasirena/_app/_conf/general_conf.inc.php.bak    
/public/__apps/emailing_lasirena